@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-5">Cliente MVC del Examen T2</h1>
    <p class="lead">Use la opcion Cursos para buscar por iniciales y ejecutar la baja.</p>
    <a asp-controller="Cursos" asp-action="IndexCursos" class="btn btn-primary">Ir a Cursos</a>
</div>
