@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-5">Examen T1 - Desarrollo de Servicios Web I</h1>
    <p class="mt-3">
        Use el menu para ingresar a:
        <strong>Pregunta 1 (Consulta + paginacion)</strong>
        y
        <strong>Pregunta 2 (Mantenimiento Articulos)</strong>.
    </p>
</div>
